<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Demo Thymeleaf</title>
</head>
<body>
<!-- $() lấy giá trị biến message -->
<p th:text="${message}">Default message</p>
<!-- $() lấy giá trị biến trong object student -->
<p th:text="${student.name}" th:object="${student}">Tên sinh viên</p>
<!-- *() lấy giá trị từ message trong object student -->
<p th:object="${student}" th:text="*{message}">Welcome default</p>
<!-- @() tạo URL -->
<a th:href="@{/home}">Trang chủ</a>
</body>
</html>